{% load i18n %}

<div class="modal fade"
     id="archiveModal-{{ asset.pk }}"
     tabindex="-1"
     aria-labelledby="archiveModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="archiveModalLabel">
          {% if asset.is_archived %}
            {% trans "unarchive"|capfirst %}
          {% else %}
            {% trans "archive"|capfirst %}
          {% endif %}
          {{ asset }}
        </h1>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label='{% trans "cancel"|capfirst %}'></button>
      </div>
      <div class="modal-body">
        {% blocktrans %}Are you sure you want to {% endblocktrans %}
        {% if asset.is_archived %}
          {% trans "unarchive" %}
        {% else %}
          {% trans "archive" %}
        {% endif %}
        {{ asset }}?
      </div>
      <div class="modal-footer">
        <form action="{% url 'asset_toggle_archive' asset.pk %}" method="post">
          <input type='hidden' name='csrfmiddlewaretoken' value='{{ csrf_token }}' />
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "cancel"|capfirst %}</button>
          <button type="submit"
                  class="btn {% if asset.is_archived %}btn-success{% else %}btn-danger{% endif %}">
            {% if asset.is_archived %}
              {% trans "unarchive"|capfirst %}
            {% else %}
              {% trans "archive"|capfirst %}
            {% endif %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
