{% extends "base.html" %}

{% load i18n %}

{% block options %}
  {% if perms.processes.change_processinstance %}
    <a class="btn btn-sm btn-outline-secondary"
       href="{% url 'processinstance_update' processinstance.id %}">
      {% trans "Update process instance" %}
      <i class="fa fa-edit"></i>
    </a>
  {% endif %}
  {% if perms.processes.delete_processinstance %}
    <a class="btn btn-sm btn-danger"
       href="{% url 'processinstance_delete' processinstance.id %}">
      {% trans "Delete process instance" %}
      <i class="fa fa-times"></i>
    </a>
  {% endif %}
{% endblock options %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'processinstance_list' %}">{{ opts.verbose_name_plural|capfirst }}</a>
  </li>
{% endblock breadcrumbs %}

{% block content %}
  <table class="table table-striped table-hover table-sm">
    <tbody>
      <tr>
        <th>{% trans "name"|capfirst %}</th>
        <td>{{ processinstance.name }}</td>
      </tr>
      <tr>
        <th>{% trans "control"|capfirst %}</th>
        <td>
          {% with control=processinstance.control %}<a href="{{ control.get_absolute_url }}">{{ control }}</a>{% endwith %}
        </td>
      </tr>
      <tr>
        <th>{% trans "created at"|capfirst %}</th>
        <td>{{ processinstance.created_at }}</td>
      </tr>
      <tr>
        <th>{% trans "created by"|capfirst %}</th>
        <td>{{ processinstance.created_by.get_label }}</td>
      </tr>
      <tr>
        <th>{% trans "completed"|capfirst %}</th>
        <td>{{ processinstance.completed|yesno|capfirst }}</td>
      </tr>
      <tr>
        <th>{% trans "completed at"|capfirst %}</th>
        <td>{{ processinstance.completed_at|default_if_none:"-" }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h2>{% trans "activities"|capfirst %}</h2>
  {% include "processes/includes/processactivityinstanceinstance_table.html" with object_list=processinstance.activities.all %}
{% endblock content %}
