- load i18n

if app_environment == "debug"
  .environment-badge.debug
    span.sr-only {% trans "Current environment" %}:

    | Debug
else
  .environment-badge.alternate
    span.sr-only {% trans "Current environment" %}:

    | {{ app_environment }}

