- load i18n

if app_environment == "debug"
  .environment-badge.debug
    span.sr-only {% trans "Current environment" %}:

    | Debug
elif app_environment == "staging"
  .environment-badge.staging
    span.sr-only {% trans "Current environment" %}:

    | Staging

