{% extends "base.html" %}

{% load i18n %}

{% block options %}
  {% if perms.documents.add_documentversion and document.can_add_new_versions %}
    <a class="btn btn-sm btn-outline-secondary"
       href="{% url 'documentversion_create' document.code %}">
      {% trans "Add version" %}
      <i class="fa fa-plus"></i>
    </a>
  {% endif %}
  {% if perms.documents.change_document %}
    <a class="btn btn-sm btn-outline-secondary"
       href="{% url 'document_update' document.code %}">
      {% trans "Update document" %}
      <i class="fa fa-edit"></i>
    </a>
  {% endif %}
  {% if perms.documents.delete_document %}
    <a class="btn btn-sm btn-danger"
       href="{% url 'document_delete' document.code %}">
      {% trans "Delete document" %}
      <i class="fa fa-times"></i>
    </a>
  {% endif %}
{% endblock options %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'document_list' %}">{{ opts.verbose_name_plural|capfirst }}</a>
  </li>
{% endblock breadcrumbs %}

{% block content %}
  <table class="table table-striped table-hover table-sm">
    <tbody>
      <tr>
        <th>{% trans "title"|capfirst %}</th>
        <td>{{ document.title }}</td>
      </tr>
      <tr>
        <th>{% trans "code"|capfirst %}</th>
        <td>{{ document.code }}</td>
      </tr>
      <tr>
        <th>{% trans "description"|capfirst %}</th>
        <td>{{ document.description }}</td>
      </tr>
      <tr>
        <th>{% trans "created at"|capfirst %}</th>
        <td>{{ document.created_at }}</td>
      </tr>
      <tr>
        <th>{% trans "created by"|capfirst %}</th>
        <td>{{ document.created_by.get_label }}</td>
      </tr>
      <tr>
        <th>{% trans "updated at"|capfirst %}</th>
        <td>{{ document.latest_update }}</td>
      </tr>
      <tr>
        <th>{% trans "updated by"|capfirst %}</th>
        <td>{{ document.latest_updator.get_label }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h2>{% trans "versions"|capfirst %}</h2>
  {% include "documents/includes/documentversion_table.html" with object_list=document.versions.all %}
  <br>
  <h2>{% trans "documented controls"|capfirst %}</h2>
  {% include "documents/includes/control_table.html" with object_list=document.documented_controls.all %}
  <br>
  <h2>{% trans "processes defined by this document"|capfirst %}</h2>
  {% include "processes/includes/process_table.html" with object_list=document.defined_processes %}
{% endblock content %}
