# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
*.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# Osx files
.DS_Store

# databases
*.sql
*.sqlite3

# Installed dependencies if project is run on host
node_modules

test_app

# Create the folders with git so they have correct owner.
# If they don't exist when docker bind-mounts them, docker creates them with root.
/project/media/*
!/project/media/.gitkeep
/project/static/*
!/project/static/.gitkeep
/docker/volumes/.ipython/*
!/docker/volumes/.ipython/.gitkeep
/docker/volumes/.zsh_history/*
!/docker/volumes/.zsh_history/.gitkeep
# This one is chowned by container:
/docker/volumes/postgres-data/
# This one is currently owned by root, but present in production only:
/docker/volumes/nginx_secrets/

propagate.sh
.idea/

/assets/bundles/
webpack-stats.json

.vscode/
/docker-compose.override.yml
*.dump
*.tgz
.tags
test-results/

# file-based cache
tmp/
