{% extends "base.html" %}

{% load i18n %}

{% block content_title %}
{% endblock content_title %}

{% block content %}
  {% if perms.processes.view_process %}
    <h2>{% trans "instatiable processes"|capfirst %}</h2>
    {% include "processes/includes/process_table.html" with object_list=view.request.user.get_instantiable_processes %}
    <br>
  {% endif %}
  {% if perms.processes.view_processinstance %}
    <h2>{% trans "participating processes"|capfirst %}</h2>
    {% include "processes/includes/processinstance_table.html" with object_list=view.request.user.get_participating_process_instances %}
  {% endif %}
{% endblock content %}
