{% extends "form.html" %}

{% load i18n %}

{% block breadcrumbs %}
  {% with process_instance=processactivityinstance.process_instance %}
    <li class="breadcrumb-item">
      <a href="{% url 'processinstance_list' %}">{% trans "processes"|capfirst %}</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ process_instance.get_absolute_url }}">{{ process_instance }}</a>
    </li>
  {% endwith %}
{% endblock breadcrumbs %}

{% block content %}
  <div>
    <p>
      <strong>{% trans "description"|capfirst %}:</strong>
      <br>
      {{ processactivityinstance.activity.description|linebreaksbr }}
    </p>
    <p>
      <strong>{% trans "deliverables"|capfirst %}:</strong>
      <br>
      {{ processactivityinstance.activity.deliverables|default:"-"|linebreaksbr }}
    </p>
    <hr>
    {{ block.super }}
    {% with next_activity=processactivityinstance.get_next_activity %}
      {% if next_activity %}
        <hr>
        <h3>{% trans "next activity"|capfirst %}:</h3>
        <p>
          <strong>{% trans "title"|capfirst %}:</strong> {{ next_activity }}
        </p>
        <p>
          <strong>{% trans "description"|capfirst %}:</strong>
          <br>
          {{ next_activity.description|linebreaksbr }}
        </p>
        <p>
          <strong>{% trans "deliverables"|capfirst %}:</strong>
          <br>
          {{ next_activity.activity.deliverables|default:"-"|linebreaksbr }}
        </p>
      {% endif %}
    {% endwith %}
  </div>
{% endblock content %}
