{% extends "base.html" %}

{% load i18n %}

{% block options %}
  {% if perms.information_assets.change_assettype %}
    <a class="btn btn-sm btn-outline-secondary"
       href="{% url 'assettype_update' assettype.id %}">
      {% trans "Update asset type" %}
      <i class="fa fa-edit"></i>
    </a>
  {% endif %}
  {% if perms.information_assets.delete_assettype %}
    <a class="btn btn-sm btn-danger"
       href="{% url 'assettype_delete' assettype.id %}">
      {% trans "Delete asset type" %}
      <i class="fa fa-times"></i>
    </a>
  {% endif %}
{% endblock options %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'assettype_list' %}">{{ opts.verbose_name_plural|capfirst }}</a>
  </li>
{% endblock breadcrumbs %}

{% block content %}
  <table class="table table-striped table-hover table-sm">
    <tbody>
      <tr>
        <th>{% trans "name"|capfirst %}</th>
        <td>{{ assettype.name }}</td>
      </tr>
      <tr>
        <th>{% trans "description"|capfirst %}</th>
        <td>{{ assettype.description }}</td>
      </tr>
      <tr>
        <th>{% trans "created at"|capfirst %}</th>
        <td>{{ assettype.created_at }}</td>
      </tr>
      <tr>
        <th>{% trans "updated at"|capfirst %}</th>
        <td>{{ assettype.updated_at }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h2>{% trans "related assets"|capfirst %}</h2>
  {% include "information_assets/includes/asset_table.html" with object_list=assettype.assets.all %}
{% endblock content %}
