{% extends "base.html" %}
{% load i18n %}
{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'document_list' %}">{% trans "Documents" %}</a>
  </li>
  <li class="breadcrumb-item">
    {% with document=documentversion.document %}<a href="{{ document.get_absolute_url }}">{{ document }}</a>{% endwith %}
  </li>
  <li class="breadcrumb-item">
    <a href="{{ object.get_absolute_url }}">{{ object }}</a>
  </li>
{% endblock breadcrumbs %}
{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    <div class="alert alert-danger">
      {% blocktrans %}Are you sure you want to delete "{{ object }}"?{% endblocktrans %}
    </div>
    <div class="text-end">
      <div class="btn-group">
        <input class="btn btn-danger" type="submit" value='{% trans "Confirm" %}' />
        <a class="btn btn-outline-secondary"
           href="{{ object.get_absolute_url }}">{% trans "Cancel" %}</a>
      </div>
    </div>
  </form>
{% endblock content %}
