{% extends "base.html" %}

{% load i18n %}
{% load file %}

{% block options %}
  {% if perms.documents.change_documentversion %}
    <a class="btn btn-sm btn-outline-secondary"
       href="{% url 'documentversion_update' documentversion.id %}">
      {% trans "Update document version" %}
      <i class="fa fa-edit"></i>
    </a>
  {% endif %}
  {% if perms.documents.delete_documentversion %}
    <a class="btn btn-sm btn-danger"
       href="{% url 'documentversion_delete' documentversion.id %}">
      {% trans "Delete document version" %}
      <i class="fa fa-times"></i>
    </a>
  {% endif %}
{% endblock options %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'document_list' %}">{% trans "Documents" %}</a>
  </li>
  <li class="breadcrumb-item">
    {% with document=documentversion.document %}<a href="{{ document.get_absolute_url }}">{{ document }}</a>{% endwith %}
  </li>
{% endblock breadcrumbs %}

{% block content %}
  <table class="table table-striped table-hover table-sm">
    <tbody>
      <tr>
        <th>{% trans "document"|capfirst %}</th>
        <td>
          {% with document=documentversion.document %}<a href="{{ document.get_absolute_url }}">{{ document }}</a>{% endwith %}
        </td>
      </tr>
      <tr>
        <th>{% trans "version"|capfirst %}</th>
        <td>{{ documentversion.version }}</td>
      </tr>
      <tr>
        <th>{% trans "file"|capfirst %}</th>
        <td>
          <a href="{{ documentversion.file.url }}">{{ documentversion.file|filename }}</a>
        </td>
      </tr>
      <tr>
        <th>sha256sum</th>
        <td>{{ documentversion.shasum }}</td>
      </tr>
      <tr>
        <th>{% trans "is approved"|capfirst %}</th>
        <td>{{ documentversion.is_approved }}</td>
      </tr>
      <tr>
        <th>{% trans "created at"|capfirst %}</th>
        <td>{{ documentversion.created_at }}</td>
      </tr>
      <tr>
        <th>{% trans "created by"|capfirst %}</th>
        <td>{{ documentversion.created_by.get_label }}</td>
      </tr>
      <tr>
        <th>{% trans "updated at"|capfirst %}</th>
        <td>{{ documentversion.updated_at }}</td>
      </tr>
      <tr>
        <th>{% trans "updated by"|capfirst %}</th>
        <td>{{ documentversion.updated_by.get_label }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h2>{% trans "read by"|capfirst %}</h2>
  <table class="table table-striped table-hover table-sm">
    <thead>
      <th>{% trans "name"|capfirst %}</th>
      <th>{% trans "email"|capfirst %}</th>
      <th>{% trans "groups"|capfirst %}</th>
    </thead>
    <tbody>
      {% for user in documentversion.read_by.all %}
        <tr>
          <td>{{ user.get_full_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.group_names }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
