{% extends "base.html" %}

{% load i18n file path_to_uri %}

{% block options %}
  {% if perms.documents.change_documentversion and documentversion.can_be_updated %}
    <a class="btn btn-sm btn-outline-secondary"
       href="{% url 'documentversion_update' documentversion.document.code documentversion.version %}">
      {% trans "Update document version" %}
      <i class="fa fa-edit"></i>
    </a>
  {% endif %}
  {% if perms.documents.approve_documentversion and not documentversion.is_approved %}
    <a class="btn btn-sm btn-success"
       href="{% url 'documentversion_approve' documentversion.document.code documentversion.version %}">
      {% trans "Approve document version" %}
      <i class="fa fa-check"></i>
    </a>
  {% endif %}
  {% if perms.documents.delete_documentversion and documentversion.can_be_updated %}
    <a class="btn btn-sm btn-danger"
       href="{% url 'documentversion_delete' documentversion.document.code documentversion.version %}">
      {% trans "Delete document version" %}
      <i class="fa fa-times"></i>
    </a>
  {% endif %}
  {% if perms.documents.add_documentversionreadbyuser and show_mark_as_read %}
    {% include "documents/includes/mark_as_read_button.html" %}
  {% endif %}
{% endblock options %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'document_list' %}">{% trans "Documents" %}</a>
  </li>
  <li class="breadcrumb-item">
    {% with document=documentversion.document %}<a href="{{ document.get_absolute_url }}">{{ document }}</a>{% endwith %}
  </li>
{% endblock breadcrumbs %}

{% block content %}
  <table class="table table-striped table-hover table-sm">
    <tbody>
      <tr>
        <th>{% trans "document"|capfirst %}</th>
        <td>
          {% with document=documentversion.document %}<a href="{{ document.get_absolute_url }}">{{ document }}</a>{% endwith %}
        </td>
      </tr>
      <tr>
        <th>{% trans "author"|capfirst %}</th>
        {% with author=documentversion.author %}
          <td>
            {% if perms.users.view_user and author %}
              <a href="{% url 'user_detail' author.pk %}">{{ author.get_label }}</a>
            {% elif author %}
              {{ author.get_label }}
            {% else %}
              -
            {% endif %}
          </td>
        {% endwith %}
      </tr>
      <tr>
        <th>{% trans "version"|capfirst %}</th>
        <td>{{ documentversion.version }}</td>
      </tr>
      <tr>
        <th>{% trans "comment"|capfirst %}</th>
        <td>{{ documentversion.comment|default:"-"|linebreaks }}</td>
      </tr>
      <tr>
        <th>{% trans "file"|capfirst %}</th>
        <td>
          {% if documentversion.file %}
            <a href="{{ documentversion.file.url }}">{{ documentversion.file|filename }}</a>
          {% else %}
            <a target="_blank" href="{{ documentversion.file_url }}">{{ documentversion.file_url }}</a>
          {% endif %}
        </td>
      </tr>
      {% if perms.documents.view_documentversion_verification_code %}
        <tr>
          <th>{% trans "mark as read url"|capfirst %}</th>
          <td>{{ documentversion.get_absolute_url|path_to_uri }}?verification_code={{ documentversion.verification_code }}</td>
        </tr>
      {% endif %}
      <tr>
        <th>sha256sum</th>
        <td>{{ documentversion.shasum }}</td>
      </tr>
      <tr>
        <th>{% trans "is approved"|capfirst %}</th>
        <td>{{ documentversion.is_approved|yesno|capfirst }}</td>
      </tr>
      <tr>
        <th>{% trans "approved at"|capfirst %}</th>
        <td>{{ documentversion.approved_at }}</td>
      </tr>
      <tr>
        <th>{% trans "approved by"|capfirst %}</th>
        <td>{{ documentversion.approved_by.get_label }}</td>
      </tr>
      <tr>
        <th>{% trans "approval evidence"|capfirst %}</th>
        {% with approval_evidence=documentversion.approval_evidence %}
          <td>
            {% if approval_evidence %}
              <a href="{{ approval_evidence.get_absolute_url }}">{{ approval_evidence }}</a>
            {% else %}
              -
            {% endif %}
          </td>
        {% endwith %}
      </tr>
      <tr>
        <th>{% trans "created at"|capfirst %}</th>
        <td>{{ documentversion.created_at }}</td>
      </tr>
      <tr>
        <th>{% trans "created by"|capfirst %}</th>
        <td>{{ documentversion.created_by.get_label }}</td>
      </tr>
      <tr>
        <th>{% trans "updated at"|capfirst %}</th>
        <td>{{ documentversion.updated_at }}</td>
      </tr>
      <tr>
        <th>{% trans "updated by"|capfirst %}</th>
        <td>{{ documentversion.updated_by.get_label }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h2>{% trans "read by"|capfirst %}</h2>
  <table class="table table-striped table-hover table-sm">
    <thead>
      <th>{% trans "name"|capfirst %}</th>
      <th>{% trans "email"|capfirst %}</th>
    </thead>
    <tbody>
      {% for user in documentversion.read_by.all %}
        <tr>
          <td>{{ user.get_full_name }}</td>
          <td>{{ user.email }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if perms.documents.add_documentversionreadbyuser and show_mark_as_read %}
    {% include "documents/includes/mark_as_read_form.html" %}
  {% endif %}
{% endblock content %}
