{% extends "form.html" %}
{% load i18n %}
{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'document_list' %}">{% trans "Documents" %}</a>
  </li>
  <li class="breadcrumb-item">
    {% with document=documentversion.document %}<a href="{{ document.get_absolute_url }}">{{ document }}</a>{% endwith %}
  </li>
  <li class="breadcrumb-item">
    <a href="{{ object.get_absolute_url }}">{{ object }}</a>
  </li>
{% endblock breadcrumbs %}

{% block submit_button_text %}
  {% if submit_button_text %}
    {{ submit_button_text }}
  {% else %}
    {% trans "Save" %}
  {% endif %}
{% endblock submit_button_text %}
