{% extends "base.html" %}

{% load i18n %}

{% block options %}
  {% if perms.auth.change_group %}
    <a class="btn btn-sm btn-outline-secondary"
       href="{% url 'group_update' group.id %}">
      {% trans "Update group" %}
      <i class="fa fa-edit"></i>
    </a>
  {% endif %}
  {% if perms.auth.delete_group %}
    <a class="btn btn-sm btn-danger"
       href="{% url 'group_delete' group.id %}">
      {% trans "Delete group" %}
      <i class="fa fa-times"></i>
    </a>
  {% endif %}
{% endblock options %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'group_list' %}">{{ opts.verbose_name_plural|capfirst }}</a>
  </li>
{% endblock breadcrumbs %}

{% block content %}
  <h2>{% trans "assigned permissions"|capfirst %}</h2>
  <br>
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th>{% trans "name"|capfirst %}</th>
        <th>{% trans "codename"|capfirst %}</th>
        <th>{% trans "app label"|capfirst %}</th>
        <th>{% trans "model"|capfirst %}</th>
      </tr>
    </thead>
    <tbody>
      {% for permission in group.permissions.all %}
        <tr>
          <td>{{ permission.name }}</td>
          <td>{{ permission.codename }}</td>
          <td>{{ permission.content_type.app_label }}</td>
          <td>{{ permission.content_type.model }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
