<h2>Proceso:</h2>
<p>
  <strong>Título:</strong> <a href="{{ process_instance_url }}">{{ process_instance }}</a>
</p>
<p>
  <strong>
    {% with process_version=process_instance.process_version %}
      {% if process_version.comment_label %}
        {{ process_version.comment_label }}:
      {% else %}
        Comentario:
      {% endif %}
    {% endwith %}
  </strong>
  <br>
  {{ process_instance.comment|default:"-"|linebreaksbr }}
</p>

<hr>

<h3>Actividad anterior:</h3>
<p>
  <strong>Título:</strong> {{ previous_activity_instance }}
</p>
<p>
  <strong>Detalle:</strong>
  <br>
  {{ previous_activity_instance.activity.description|linebreaksbr }}
</p>
<p>
  <strong>Entregables:</strong>
  <br>
  {{ previous_activity_instance.activity.deliverables|default:"-"|linebreaksbr }}
</p>
<p>
  <strong>Persona asignada:</strong> {{ previous_activity_instance.assignee }}
</p>
<p>
  <strong>Evidencia:</strong> {{ previous_activity_instance.evidence.get_html_content|safe }}
</p>

<hr>

<h3>Por favor, continúa con la siguiente actividad:</h3>
<p>
  <strong>Título:</strong> <a href="{{ activity_instance_url }}">{{ activity_instance }}</a>
</p>
<p>
  <strong>Detalle:</strong>
  <br>
  {{ activity_instance.activity.description|linebreaksbr }}
</p>
<p>
  <strong>Entregables:</strong>
  <br>
  {{ activity_instance.activity.deliverables|default:"-"|linebreaksbr }}
</p>
<p>
  <strong>Persona asignada:</strong> {{ activity_instance.assignee }}
</p>

<hr>

<p>Gracias,</p>
<p>Equipo Compliance</p>
