<h2>Proceso Completado:</h2>
<p>
  <strong>Título:</strong> <a href="{{ process_instance_url }}">{{ process_instance }}</a>
</p>
<p>
  <strong>
    {% with process_version=process_instance.process_version %}
      {% if process_version.comment_label %}
        {{ process_version.comment_label }}:
      {% else %}
        Comentario:
      {% endif %}
    {% endwith %}
  </strong>
  <br>
  {{ process_instance.comment|default:"-"|linebreaksbr }}
</p>

<hr>

<h3>Última Actividad Completada:</h3>
<p>
  <strong>Título:</strong> {{ activity_instance }}
</p>
<p>
  <strong>Detalle:</strong>
  <br>
  {{ activity_instance.activity.description|linebreaksbr }}
</p>
<p>
  <strong>Entregables:</strong>
  <br>
  {{ activity_instance.activity.deliverables|default:"-"|linebreaksbr }}
</p>
<p>
  <strong>Persona asignada:</strong> {{ activity_instance.assignee.get_label }}
</p>
<p>
  <strong>Evidencia:</strong> {{ activity_instance.evidence.get_html_content|safe }}
</p>

<hr>

<p>El proceso ha sido completado exitosamente. Gracias por tu colaboración.</p>

<p>Gracias,</p>
<p>Equipo Compliance</p>
