{% extends "base.html" %}

{% load i18n %}

{% block options %}
  {% if perms.information_assets.archive_asset %}
    {% include "information_assets/includes/archive_modal_button.html" %}
  {% endif %}
  {% if perms.information_assets.change_asset and not object.is_archived %}
    <a class="btn btn-sm btn-outline-secondary"
       href="{% url 'asset_update' asset.id %}">
      {% trans "Update asset" %}
      <i class="fa fa-edit"></i>
    </a>
  {% endif %}
{% endblock options %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'asset_list' %}">{{ opts.verbose_name_plural|capfirst }}</a>
  </li>
{% endblock breadcrumbs %}

{% block content %}
  <table class="table table-striped table-hover table-sm">
    <tbody>
      <tr>
        <th>{% trans "archived"|capfirst %}</th>
        <td>{{ asset.is_archived|yesno|capfirst }}</td>
      </tr>
      <tr>
        <th>{% trans "code"|capfirst %}</th>
        <td>{{ asset.code }}</td>
      </tr>
      <tr>
        <th>{% trans "name"|capfirst %}</th>
        <td>{{ asset.name }}</td>
      </tr>
      <tr>
        <th>{% trans "owner"|capfirst %}</th>
        <td>{{ asset.owner.get_label }}</td>
      </tr>
      <tr>
        <th>{% trans "description"|capfirst %}</th>
        <td>{{ asset.description|default:"-" }}</td>
      </tr>
      <tr>
        <th>{% trans "type"|capfirst %}</th>
        <td>
          {% with asset_type=asset.asset_type %}<a href="{{ asset_type.get_absolute_url }}">{{ asset_type }}</a>{% endwith %}
        </td>
      </tr>
      <tr>
        <th>{% trans "criticality"|capfirst %}</th>
        <td>{{ asset.get_criticality_display }}</td>
      </tr>
      <tr>
        <th>{% trans "classification"|capfirst %}</th>
        <td>{{ asset.get_classification_display }}</td>
      </tr>
      <tr>
        <th>{% trans "created at"|capfirst %}</th>
        <td>{{ asset.created_at }}</td>
      </tr>
      <tr>
        <th>{% trans "created by"|capfirst %}</th>
        <td>{{ asset.created_by.get_label }}</td>
      </tr>
      <tr>
        <th>{% trans "updated at"|capfirst %}</th>
        <td>{{ asset.updated_at }}</td>
      </tr>
      <tr>
        <th>{% trans "updated by"|capfirst %}</th>
        <td>{{ asset.updated_by.get_label }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h2>{% trans "related risks"|capfirst %}</h2>
  {% include "risks/includes/risk_table.html" with object_list=asset.risks.all %}

  {% include "information_assets/includes/archive_modal.html" %}
{% endblock content %}
