{% extends "base.html" %}

{% load i18n static %}

{% block legacy_javascripts %}
  <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
{% endblock legacy_javascripts %}

{% block content %}
  {% if form.errors %}
    <div class="alert alert-danger">
      {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </div>
  {% endif %}

  <div class="alert alert-info">
    {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
  </div>

  <form action=""  method='post'>
    {% csrf_token %}
    <fieldset>
      <div class="row">
        <div class="col-sm-6">
          <div class="mb-3">
            <label class="col-form-label" required for="id_old_password">{% trans "Old password" %}:</label>
            <input id="id_old_password"
                   class="form-control"
                   name='old_password'
                   type='password'
                   placeholder='{% trans "Old password" %}'>
            <span class="invalid-feedback d-block"
                  for="id_{{ form.old_password.name }}">{{ form.old_password.errors|striptags }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="mb-3">
            <label class="col-form-label" required for="id_new_password1">{% trans "New password" %}:</label>
            <input id="id_new_password1"
                   class="form-control"
                   name="new_password1"
                   type="password"
                   placeholder='{% trans "New password" %}'>
            <span class="invalid-feedback d-block">{{ form.new_password1.errors|striptags }}</span>
          </div>
        </div>
        <div class="col-sm-6">
          <small class="form-text" id="{{ form.new_password.name }}_help">{{ form.new_password1.help_text|safe }}</small>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="mb-3">
              <label class="col-form-label" required for="id_new_password2">{% trans "Password (again)" %}:</label>
              <input id="id_new_password2"
                     class="form-control"
                     name="new_password2"
                     type="password"
                     placeholder='{% trans "Password (again)" %}'>
              <span class="invalid-feedback d-block">{{ form.new_password2.errors|striptags }}</span>
            </div>
          </div>
          <div class="col-sm-6">{{ form.new_password2.help_text|safe }}</div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="mb-3">
              <div class="text-end">
                <input class="btn btn-primary"
                       type="submit"
                       value='{% trans "Change my password" %}'>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
{% endblock content %}
