{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'user_list' %}">{% trans "users"|capfirst %}</a>
  </li>
  <li class="breadcrumb-item">
    <a href="{% url 'user_detail' object.pk %}">{{ object }}</a>
  </li>
{% endblock breadcrumbs %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    <div class="alert alert-danger">
      {% blocktrans %}Are you sure you want to delete "{{ object }}"?{% endblocktrans %}
    </div>
    <div class="text-end">
      <div class="btn-group">
        <input class="btn btn-danger" type="submit" value='{% trans "Confirm" %}'>
        <a class="btn btn-outline-secondary"
           href="{% url 'user_detail' object.pk %}">{% trans "Cancel" %}</a>
      </div>
    </div>
  </form>
{% endblock content %}
