{% extends "base.html" %}

{% load i18n %}

{% block options %}
  {% if perms.users.change_user %}
    <a class="btn btn-sm btn-outline-secondary"
       href="{% url 'user_update' object.pk %}">
      {% trans "Update user" %}
      <i class="fa fa-edit"></i>
    </a>
  {% else %}
    <a class="btn btn-sm btn-outline-secondary"
       href="{% url 'user_profile_edit' %}">
      {% trans "Edit profile" %}
      <i class="fa fa-edit"></i>
    </a>
  {% endif %}
  {% if perms.users.delete_user %}
    <a class="btn btn-sm btn-danger"
       href="{% url 'user_delete' object.pk %}">
      {% trans "Delete user" %}
      <i class="fa fa-times"></i>
    </a>
  {% endif %}
{% endblock options %}

{% block breadcrumbs %}
  {% if perms.users.view_user %}
    <li class="breadcrumb-item">
      <a href="{% url 'user_list' %}">{% trans "users"|capfirst %}</a>
    </li>
  {% endif %}
{% endblock breadcrumbs %}

{% block content %}
  <div class="detail">
    <div class="row">
      <div class="col-md-7">
        <table class="table table-striped table-hover table-bordered table-sm">
          <tr>
            <th>{% trans "first name"|capfirst %}</th>
            <td>{{ object.first_name }}</td>
          </tr>
          <tr>
            <th>{% trans "last name"|capfirst %}</th>
            <td>{{ object.last_name }}</td>
          </tr>
          <tr>
            <th>{% trans "email"|capfirst %}</th>
            <td>{{ object.email }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  {% if perms.auth.view_group %}
    <br>
    <h2>{% trans "assigned groups"|capfirst %}</h2>
    {% include "groups/includes/group_table.html" with object_list=object.groups.all %}
  {% endif %}
{% endblock content %}
