{% load i18n %}

<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th>{% trans "name"|capfirst %}</th>
      <th>{% trans "description"|capfirst %}</th>
      <th>{% trans "assignee group"|capfirst %}</th>
      <th>{% trans "updated at"|capfirst %}</th>
      <th>{% trans "updated by"|capfirst %}</th>
      {% if processversion.can_be_updated %}
        {% if perms.processes.change_processactivity or perms.processes.delete_processactivity %}<th></th>{% endif %}
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for process_activity in object_list %}
      <tr>
        <td>
          <a href="{{ process_activity.get_absolute_url }}">{{ process_activity }}</a>
        </td>
        <td>{{ process_activity.description|linebreaks }}</td>
        <td>
          {% with assignee_group=process_activity.assignee_group %}
            {% if assignee_group is not None %}
              <a href="{{ assignee_group.get_absolute_url }}">{{ assignee_group }}</a>
            {% else %}
              -
            {% endif %}
          {% endwith %}
        </td>
        <td>{{ process_activity.updated_at }}</td>
        <td>{{ process_activity.updated_by.get_label }}</td>
        {% if processversion.can_be_updated %}
          {% if perms.processes.change_processactivity or perms.processes.delete_processactivity %}
            <td class="text-end">
              {% if perms.processes.change_processactivity %}
                <a class="btn btn-sm btn-outline-secondary"
                   href="{% url 'processactivity_update' process_activity.id %}">
                  {% trans "Update process activity" %}
                  <i class="fa fa-edit"></i>
                </a>
              {% endif %}
              {% if perms.processes.delete_processactivity %}
                <a class="btn btn-sm btn-danger"
                   href="{% url 'processactivity_delete' process_activity.id %}">
                  {% trans "Delete process activity" %}
                  <i class="fa fa-times"></i>
                </a>
              {% endif %}
            </td>
          {% endif %}
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
