{% extends "base.html" %}

{% load i18n %}

{% block options %}
  {% if perms.documents.change_controlcategory %}
    <a class="btn btn-sm btn-outline-secondary"
       href="{% url 'controlcategory_update' controlcategory.id %}">
      {% trans "Update control category" %}
      <i class="fa fa-edit"></i>
    </a>
  {% endif %}
  {% if perms.documents.delete_controlcategory %}
    <a class="btn btn-sm btn-danger"
       href="{% url 'controlcategory_delete' controlcategory.id %}">
      {% trans "Delete control category" %}
      <i class="fa fa-times"></i>
    </a>
  {% endif %}
{% endblock options %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'controlcategory_list' %}">{{ opts.verbose_name_plural|capfirst }}</a>
  </li>
{% endblock breadcrumbs %}

{% block content %}
  <table class="table table-striped table-hover table-sm">
    <tbody>
      <tr>
        <th>{% trans "name"|capfirst %}</th>
        <td>{{ controlcategory.name }}</td>
      </tr>
      <tr>
        <th>{% trans "created at"|capfirst %}</th>
        <td>{{ controlcategory.created_at }}</td>
      </tr>
      <tr>
        <th>{% trans "updated at"|capfirst %}</th>
        <td>{{ controlcategory.updated_at }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h2>{% trans "related controls"|capfirst %}</h2>
  {% include "documents/includes/control_table.html" with object_list=controlcategory.controls.all %}
{% endblock content %}
