{% load i18n file %}

<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th>{% trans "name"|capfirst %}</th>
      <th>{% trans "evidence"|capfirst %}</th>
      <th>{% trans "created at"|capfirst %}</th>
      <th>{% trans "created by"|capfirst %}</th>
    </tr>
  </thead>
  <tbody>
    {% for evidence in object_list %}
      <tr>
        <td>
          <a href="{{ evidence.get_absolute_url }}">{{ evidence }}</a>
        </td>
        {% if evidence.file %}
          <td>
            <a href="{{ evidence.file.url }}">{{ evidence.file|filename }}</a>
          </td>
        {% else %}
          <td>
            <a href="{{ evidence.url }}">{{ evidence.url }}</a>
          </td>
        {% endif %}
        <td>{{ evidence.created_at }}</td>
        <td>{{ evidence.created_by.get_label }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
