{% load i18n %}

<table class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th>{% trans "asignee"|capfirst %}</th>
      <th>{% trans "document version"|capfirst %}</th>
      <th>{% trans "activity"|capfirst %}</th>
      <th>{% trans "created at"|capfirst %}</th>
      <th>{% trans "created by"|capfirst %}</th>
    </tr>
  </thead>
  <tbody>
    {% for evidence in object_list %}
      <tr>
        <td>{{ evidence.process_activity.asignee }}</td>
        <td>
          {% with document_version=evidence.document_version %}
            <a href="{{ document_version.get_absolute_url }}">{{ document_version }}</a>
          {% endwith %}
        </td>
        <td>{{ evidence.process_activity }}</td>
        <td>{{ evidence.created_at }}</td>
        <td>{{ evidence.created_by.get_label }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
