{% extends "base.html" %}

{% load i18n %}

{% block options %}
  {% if processactivity.can_be_updated and perms.processes.change_processactivity %}
    <a class="btn btn-sm btn-outline-secondary"
       href="{% url 'processactivity_update' processactivity.id %}">
      {% trans "Update process activity" %}
      <i class="fa fa-edit"></i>
    </a>
  {% endif %}
  {% if processactivity.can_be_updated and perms.processes.delete_processactivity %}
    <a class="btn btn-sm btn-danger"
       href="{% url 'processactivity_delete' processactivity.id %}">
      {% trans "Delete process activity" %}
      <i class="fa fa-times"></i>
    </a>
  {% endif %}
{% endblock options %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'process_list' %}">{% trans "processes"|capfirst %}</a>
  </li>
  <li class="breadcrumb-item">
    {% with process=processactivity.process_version.process %}
      <a href="{{ process.get_absolute_url }}">{{ process }}</a>
    {% endwith %}
  </li>
  <li class="breadcrumb-item">
    {% with processversion=processactivity.process_version %}
      <a href="{{ processversion.get_absolute_url }}">{{ processversion }}</a>
    {% endwith %}
  </li>
{% endblock breadcrumbs %}

{% block content %}
  <table class="table table-striped table-hover table-sm">
    <tbody>
      <tr>
        <th>{% trans "process version"|capfirst %}</th>
        {% with processversion=processactivity.process_version %}
          <td>
            <a href="{{ processversion.get_absolute_url }}">{{ processversion }}</a>
          </td>
        {% endwith %}
      </tr>
      <tr>
        <th>{% trans "description"|capfirst %}</th>
        <td>{{ processactivity.description|linebreaks }}</td>
      </tr>
      <tr>
        <th>{% trans "assignee group"|capfirst %}</th>
        {% with assignee_group=processactivity.assignee_group %}
          <td>
            {% if assignee_group is not None %}
              <a href="{% url 'group_detail' assignee_group.pk %}">{{ assignee_group }}</a>
            {% else %}
              -
            {% endif %}
          </td>
        {% endwith %}
      </tr>
      <tr>
        <th>{% trans "email to notify"|capfirst %}</th>
        <td>{{ processactivity.email_to_notify|default:"-" }}</td>
      </tr>
      <tr>
        <th>{% trans "created at"|capfirst %}</th>
        <td>{{ processactivity.created_at }}</td>
      </tr>
      <tr>
        <th>{% trans "created by"|capfirst %}</th>
        <td>{{ processactivity.created_by.get_label }}</td>
      </tr>
      <tr>
        <th>{% trans "updated at"|capfirst %}</th>
        <td>{{ processactivity.updated_at }}</td>
      </tr>
      <tr>
        <th>{% trans "updated by"|capfirst %}</th>
        <td>{{ processactivity.updated_by.get_label }}</td>
      </tr>
    </tbody>
  </table>
{% endblock content %}
