{% extends "base.html" %}

{% load i18n %}

{% block options %}
  {% if perms.processes.change_processactivity %}
    <a class="btn btn-sm btn-outline-secondary"
       href="{% url 'processactivity_update' processactivity.id %}">
      {% trans "Update process activity" %}
      <i class="fa fa-edit"></i>
    </a>
  {% endif %}
  {% if perms.processes.delete_processactivity %}
    <a class="btn btn-sm btn-danger"
       href="{% url 'processactivity_delete' processactivity.id %}">
      {% trans "Delete process activity" %}
      <i class="fa fa-times"></i>
    </a>
  {% endif %}
{% endblock options %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'processdefinition_list' %}">{% trans "process definitions"|capfirst %}</a>
  </li>
  <li class="breadcrumb-item">
    {% with processdefinition=processactivity.process_definition %}
      <a href="{% url 'processdefinition_detail' processdefinition.pk %}">{{ processdefinition }}</a>
    {% endwith %}
  </li>
{% endblock breadcrumbs %}

{% block content %}
  <table class="table table-striped table-hover table-sm">
    <tbody>
      <tr>
        <th>{% trans "process definition"|capfirst %}</th>
        {% with process_definition=processactivity.process_definition %}
          <td>
            <a href="{{ process_definition.get_absolute_url }}">{{ process_definition }}</a>
          </td>
        {% endwith %}
      </tr>
      <tr>
        <th>{% trans "order"|capfirst %}</th>
        <td>{{ processactivity.order }}</td>
      </tr>
      <tr>
        <th>{% trans "description"|capfirst %}</th>
        <td>{{ processactivity.description }}</td>
      </tr>
      <tr>
        <th>{% trans "asignee"|capfirst %}</th>
        {% with asignee=processactivity.asignee %}
          <td>
            {% if asignee is not None %}
              {{ asignee.get_label }}
            {% else %}
              -
            {% endif %}
          </td>
        {% endwith %}
      </tr>
      <tr>
        <th>{% trans "asignee group"|capfirst %}</th>
        {% with asignee_group=processactivity.asignee_group %}
          <td>
            {% if asignee_group is not None %}
              <a href="{% url 'group_detail' asignee_group.pk %}">{{ asignee_group }}</a>
            {% else %}
              -
            {% endif %}
          </td>
        {% endwith %}
      </tr>
      <tr>
        <th>{% trans "created at"|capfirst %}</th>
        <td>{{ processactivity.created_at }}</td>
      </tr>
      <tr>
        <th>{% trans "created by"|capfirst %}</th>
        <td>{{ processactivity.created_by.get_label }}</td>
      </tr>
      <tr>
        <th>{% trans "updated at"|capfirst %}</th>
        <td>{{ processactivity.updated_at }}</td>
      </tr>
      <tr>
        <th>{% trans "updated by"|capfirst %}</th>
        <td>{{ processactivity.updated_by.get_label }}</td>
      </tr>
    </tbody>
  </table>
{% endblock content %}
