{% load i18n %}

<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
       aria-label='{% trans "Main navigation" %}'>
    <div class="container-fluid">
      <!--Brand-->
      <a class="navbar-brand" href="{% url 'home' %}"> Compliance <i class="fa fa-spinner fa-spin page-loading-icon"></i></a>
      <!--Menu toggler-->
      <button class="navbar-toggler"
              type="button"
              aria-label='{% trans "Toggle main navigation" %}'
              aria-controls="navbarCollapse"
              aria-expanded="false"
              data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--Menu-->
      <div id="navbarCollapse" class="collapse navbar-collapse">
        {% with navbar_link_template="includes/navbar/navbar_link.html" dropdown_link_template="includes/dropdown/dropdown_link.html" dropdown_button_link_template="includes/dropdown/dropdown_button_link.html" %}
          <ul class="navbar-nav me-auto">
            {% if user.is_authenticated %}
              {% if user.is_staff %}
                {% include navbar_link_template with text="administration" url_name="admin:index" %}
                {% include navbar_link_template with text="status" url_name="status" %}
              {% endif %}
              {% if perms.users.view_user or perms.auth.view_group %}
                <li class="nav-item dropdown">
                  <a id="dropdownAccounts"
                     class="nav-link dropdown-toggle"
                     href="#"
                     role="button"
                     data-bs-toggle="dropdown"
                     aria-expanded="false">{% trans "accounts"|capfirst %}</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownAccounts">
                    {% if perms.users.view_user %}
                      {% include dropdown_link_template with text="users" url_name="user_list" %}
                    {% endif %}
                    {% if perms.auth.view_group %}
                      {% include dropdown_link_template with text="groups" url_name="group_list" %}
                    {% endif %}
                  </ul>
                </li>
              {% endif %}
              {% if perms.documents.view_controlcategory or perms.documents.view_control or perms.documents.view_document %}
                <li class="nav-item dropdown">
                  <a id="dropdownDocuments"
                     class="nav-link dropdown-toggle"
                     href="#"
                     role="button"
                     data-bs-toggle="dropdown"
                     aria-expanded="false">{% trans "documents"|capfirst %}</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownDocuments">
                    {% if perms.documents.view_controlcategory %}
                      {% include dropdown_link_template with text="control categories" url_name="controlcategory_list" %}
                    {% endif %}
                    {% if perms.documents.view_control %}
                      {% include dropdown_link_template with text="controls" url_name="control_list" %}
                    {% endif %}
                    {% if perms.documents.view_document %}
                      {% include dropdown_link_template with text="documents" url_name="document_list" %}
                    {% endif %}
                  </ul>
                </li>
              {% endif %}
              {% if perms.information_assets.view_assettype or perms.information_assets.view_asset %}
                <li class="nav-item dropdown">
                  <a id="dropdownAssets"
                     class="nav-link dropdown-toggle"
                     href="#"
                     role="button"
                     data-bs-toggle="dropdown"
                     aria-expanded="false">{% trans "assets"|capfirst %}</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownAssets">
                    {% if perms.information_assets.view_assettype %}
                      {% include dropdown_link_template with text="asset types" url_name="assettype_list" %}
                    {% endif %}
                    {% if perms.information_assets.view_asset %}
                      {% include dropdown_link_template with text="assets" url_name="asset_list" %}
                    {% endif %}
                  </ul>
                </li>
              {% endif %}
              {% if perms.risks.view_risk %}
                {% include navbar_link_template with text="risks" url_name="risk_list" %}
              {% endif %}
              {% if perms.processes.view_process or perms.processes.view_processinstance %}
                <li class="nav-item dropdown">
                  <a id="dropdownProcesses"
                     class="nav-link dropdown-toggle"
                     href="#"
                     role="button"
                     data-bs-toggle="dropdown"
                     aria-expanded="false">{% trans "processes"|capfirst %}</a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownProcesses">
                    {% if perms.processes.view_process %}
                      {% include dropdown_link_template with text="processes" url_name="process_list" %}
                    {% endif %}
                    {% if perms.processes.view_processinstance %}
                      {% include dropdown_link_template with text="process instances" url_name="processinstance_list" %}
                    {% endif %}
                  </ul>
                </li>
              {% endif %}
            {% endif %}
          </ul>

          <ul class="navbar-nav">
            {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a id="dropdownLoggedIn"
                   class="nav-link dropdown-toggle"
                   href="#"
                   role="button"
                   aria-haspopup="true"
                   aria-expanded="false"
                   data-bs-toggle="dropdown">{% trans "Logged in as" %} {{ user.email }}</a>
                <ul class="dropdown-menu" aria-labelledby="dropdownLoggedIn">
                  {% include dropdown_link_template with text="My profile" url_name="user_profile" %}
                  {% if django_auth_enabled %}
                    {% include dropdown_link_template with text="Change password" url_name="password_change" %}
                  {% endif %}
                  {% include dropdown_button_link_template with text="Logout" url_name=request.session.loginas_from_user|yesno:"loginas-logout,logout" %}
                </ul>
              </li>
            {% else %}
              {% include navbar_link_template with text="login" url_name="login" %}
            {% endif %}
          </ul>
        {% endwith %}
      </div>
    </div>
  </nav>
</header>
