{% extends "base.html" %}

{% load i18n %}

{% block options %}
  {% if perms.documents.change_document %}
    <a class="btn btn-sm btn-outline-secondary" href="{% url 'document_update' document.id %}">
      {% trans 'Update document' %}
      <i class="fa fa-edit"></i>
    </a>
  {% endif %}
  {% if perms.documents.delete_document %}
    <a class="btn btn-sm btn-danger" href="{% url 'document_delete' document.id %}">
      {% trans 'Delete document' %}
      <i class="fa fa-times"></i>
    </a>
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <li class="breadcrumb-item">
    <a href="{% url 'document_list' %}">
      {{ opts.verbose_name_plural|capfirst }}
    </a>
  </li>
{% endblock %}

{% block content %}
  <table class="table table-striped table-hover table-sm">
    <tbody>
      <tr>
        <th>Id</th>
        <td>{{ document.id }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
